body {
    background: rgb(23, 135, 73);
    background-image: url("../img/greenargyleS.png");
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgb(67, 49, 13);
    background-image: url("../img/wood.jpg");
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid #222;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 4px;
    background-color: rgb(67, 49, 13);
    ;
    background-image: url("../img/wood.jpg");
    color: #eee;
    font-size: 18px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top: 4px solid #222;
}

footer p {
    padding-right: 40px;
}

main {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#dealer_deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*height: 240px;*/
    background-color: rgb(222, 000, 20, 0.4);
    width: 1024px;
    height: 250px;
}
#dealer_deck img {
    filter: drop-shadow(8px 8px 8px rgb(20 0 0));
}
#player_deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*height: 240px;*/
    background-color: rgb(20, 000, 222, 0.4);
    width: 1024px;
    height: 250px;
}
#player_deck img {
    filter: drop-shadow(8px 8px 8px rgb(0 0 20));
}

.card {
    height: 160px;
}

#play {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*height: 240px;*/
    width: 1024px;
    height: 60px;
    background-color: rgb(40, 20, 20, 0.4);
    font-size: 24px;
    font-weight: bold;
}

button {
    width: 180px;
    height: 42px;
    color: rgb(108 80 15);
    background-color: rgb(216, 160, 30);
    filter: drop-shadow(4px 4px 4px rgb(10 10 10));
    font-size: 32px;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover {
    filter: drop-shadow(2px 2px 2px rgb(5 5 5));
    translate: 1px 1px;
}
button:active {
    color: rgb(255 190 36);
    background-color: rgb(216, 160, 30);
    filter: drop-shadow(2px 2px 2px rgb(50 0 50));
    translate: 2px 2px;
}